* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import "./scss/home";
@import "./scss/navbar";
@import "./scss/homeContent";
@import "./scss/imageSlider";
@import "./scss/footer";
@import "./scss/banner";
@import "./scss/aboutContent";
@import "./scss/team";
@import "./scss/teamMemberDetail";
@import "./scss/service-content";
@import "./scss/contact-details";
@import "./scss/form-control";

