.about-content {
  p {
    color: rgb(119, 119, 119);
    font-size: 14px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }

  .dealed-items {
    img {
      width: 100%;
      height: 8rem;
    }
  }
}
