.image-slider {
  position: relative;
  height: 20rem;
}

.imageSlider {
  align-items: center;
  justify-content: center;
  text-align: center;

  img {
    width: 100%;
  }

  h2 {
    position: absolute;

    width: 7%;
    display: flex;
    // left: 5rem;
    flex-wrap: wrap;
    text-align: center;
    z-index: 1;
    color: white;
    text-align: center;
    margin-left: 1%;
    top: 5%;
    text-transform: uppercase;
    @media (max-width: "800px") {
      width: 10%;
      // background: red;
      margin-left: 0rem;
      padding-left: 10px;
      height: 8rem;
    }
  }
}
